@import "tailwindcss";
@import url('https://googleapis.com');

body{ 
    background-color: #F5EBDD;
} 

@theme{
    --font-fraunces: "Fraunces", serif;
     --color-fondo: #FBF6EE;
    --color-borde: #C45A33;
    --color-text: #2E2A24;
    --font-crimson: "Crimson", serif;
}